<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car Price Prediction</title>
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>

    <div class="wrap">
        <img class="background" src="/static/images/background.jpg" alt=""/>
        <form action="{{ url_for('predict')}}" method="POST" class="form">
            <h2>Car Price Prediction</h2>
                <div class="details">
                    <div class="inputs">
                        <h3>Car bought on?(Year)</h3>
                        <input name="Year" type="number"/>
                    </div>
                    <div class="inputs">
                        <h3>What is the Showroom Price?(In lakhs)</h3>
                        <input name="Present_Price" required="required"/>
                    </div>
                    <div class="inputs">
                        <h3>How Many Kilometers Drived?</h3>
                        <input id="third" name="Kms_Driven" required="required" />
                      </div>
                      <div class="inputs">
                        <h3>How much owners previously had the car(0 or 1 or 3) ?</h3>
                        <input id="fourth" name="Owner" required="required" />
                      </div>
                      <div class="inputs">
                        <h3>What Is the Fuel type?</h3>
                        <select name="Fuel_Type" id="fuel" required="required">
                          <option value="Petrol">Petrol</option>
                          <option value="Diesel">Diesel</option>
                          <option value="CNG">CNG</option>
                        </select>
                      </div>
                      <div class="inputs">
                        <h3>Are you A Dealer or Individual</h3>
                        <select name="Seller_Type_Individual" id="resea" required="required">
                          <option value="Dealer">Dealer</option>
                          <option value="Individual">Individual</option>
                        </select>
                      </div>
                      <div class="inputs">
                        <h3>Transmission type</h3>
                        <br /><select
                          name="Transmission_Mannual"
                          id="research"
                          required="required"
                        >
                          <option value="Mannual">Manual Car</option>
                          <option value="Automatic">Automatic Car</option>
                        </select>
                    </div>
                      <button id="sub" type="submit">
                        Calculate the Selling Price
                      </button>
                </div>
        </form>

        <h3>{{ prediction_text }}<h3>
    </div>

</body>

</html>