<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/style.css" />
    <title>Prediction</title>
  </head>
  <body>
    <div class="predict_wrap">
      <img src="{{ image_url }}" alt="" />
      <h3>{{ prediction_text }}</h3>
    </div>
    <style>
      body {
        background-color: azure;
      }
    </style>
  </body>
</html>
